postgresql:
  enabled: false

concourse:
  image: concourse/concourse-rc
  imageDigest: sha256:f5d76c5ac97ed2a8f5994cfd240bc46c734a46a382a61422b43d74712df0898f

  postgresql:
    enabled: false

  persistence:
    worker:
      storageClass: local-scsi

  worker:
    nodeSelector: { cloud.google.com/gke-local-ssd: "true" }
    hardAntiAffinity: true
    replicas: 1
    resources:
      requests:
        cpu: 3000m
        memory: 16384Mi
      limits:
        cpu: 7000m
        memory: 16384Mi

  web:
    replicas: 2
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: cloud.google.com/gke-preemptible
              operator: DoesNotExist
    service:
      type: LoadBalancer
      loadBalancerIP: 35.202.14.65
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 512Mi

  concourse:
    web:
      auth:
        mainTeam:
          localUser: admin
          github:
            team: concourse:Pivotal
        github:
          enabled: true
      bindPort: 80
      enableGlobalResources: true
      encryption: { enabled: true }
      externalUrl: https://hush-house.concourse-ci.org
      kubernetes: { keepNamespaces: true }
      logLevel: debug
      metrics: { captureErrorMetrics: true }
      prometheus: { enabled: true }
      postgres:
        host: 10.99.0.3
        database: atc
      tls: { enabled: true, bindPort: 443 }
    worker:
      rebalanceInterval: 5m
      baggageclaim: { driver: overlay }
