postgresql:
  enabled: false

concourse:
  image: concourse/concourse
  imageDigest: sha256:e93a0149e3efe9186e403a188066c93a96ea2f223b24d49952275b63dc3e2c4d

  secrets:
    teamAuthorizedKeys:
    - team: diego
      key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCf8Dd5PmIbfM7WodkOeE8gkbWv6J9dOofMXcGW6MI6JwvCBZne/LxmyFNZYpr0VniFUjUxB/juT/Qmp0r3WhMDh/s4hcAE+AtkE4FPFUUgoNiAd+Lo69dc1rK/1bAafn8dgOse45t/vn7+cA0f89ygbxAtPOIPMjFVU2S32R7ocuUCRrniT558XvLso0bETqJhzLTM8TjYgl61SyjZR/Ew8rG2LM4sBI9a4dA7LLdHv7AW+5ci/a4VW7sIV4tdhzszGbA3SrRvnm/RMGpZCVd8+2uHd78rNmackQhd+Hgln4e9c8ZsVV1hBcwkEbHtLE/iW6uuILR62dVmmWXfY6Mt'
    - team: toolsmiths
      key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDXHxnupNtmDSiVtMsABr9I2Bt48MTbOazBzUr0+VMEYq4sPuEG4pVUnzrGr57UmYpDdDl/o+G7l7pws9DV3aUmcXZuWkP3ujRXefeNO7srumy60AqGK6Wor+L97b55vjPXsQz6YwrblAmgMuIN2MO2c8gijR6a0/yzSG4FLv+4njeK4XI62mgNtkF536Ms+9zyekcTkR0BeO4mg4ebicM5KTIyjzkpCe6S/Sjccaxpl1OkcQ9291TTFFGz6IZbtgF/CwmdJIEudWvSEwRLZOVqSW2PEuQ98MHk+KIQcze/GJszAmhBa9HfaYcf5vt+yR8e+KIxMeZASNlZge9t0p//'
    - team: cf-uaa
      key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCuUbLF+OkKol0uq88SdjAQBzStXmD+/Tl4iMtPstQN7bvlUbfdiMsR0optlbo1SJjTNWXTZlKeuFjucRtyWi/uHCGojlhtthE35lzVCTCSYp7pbUPRdTX0rSeogu8nPzBRudRl7bCzxuGxehw+yg3xTmKnKE4g4U0fvRFnb4lwjW0C+Erfl2ffov99nYhbp7fVXp9l7TZJJzEx0Xe2V+dgwnnfwYPw4WGs/Nii7uCLLepHowmxvL5OBEag0Yd4HofXZtJxydHQKmpzjzW2hv0paR351JrJrNjIvsTNnSSV94njZJXYH+YBBmyjM1ntaCnuw9wxWDSfcESlBjiRE85l'

  postgresql:
    enabled: false

  worker:
    enabled: false

  web:
    annotations:
      rollingUpdate: "1"
    replicas: 3
    nodeSelector: { cloud.google.com/gke-nodepool: generic-1 }
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            topologyKey: kubernetes.io/hostname
            labelSelector:
              matchLabels:
                app: hush-house-web
                release: hush-house
    service:
      type: LoadBalancer
      loadBalancerIP: 35.202.234.135
    resources:
      requests:
        cpu: 1500m
        memory: 1Gi
      limits:
        cpu: 1500m
        memory: 1Gi

  concourse:
    web:
      auth:
        mainTeam:
          localUser: admin
          github:
            team: concourse:Pivotal
        github:
          enabled: true
      bindPort: 80
      clusterName: hush-house
      containerPlacementStrategy: random
      defaultDaysToRetainBuildLogs: 30
      enableLidar: true
      enableBuildAuditing: true
      enableContainerAuditing: true
      enableGlobalResources: true
      enableJobAuditing: true
      enablePipelineAuditing: true
      enableResourceAuditing: true
      enableSystemAuditing: true
      enableTeamAuditing: true
      enableVolumeAuditing: true
      enableWorkerAuditing: true
      encryption: { enabled: true }
      externalUrl: https://hush-house.pivotal.io
      kubernetes: { keepNamespaces: true }
      metrics: { captureErrorMetrics: true }
      prometheus: { enabled: true }
      tls: { enabled: true, bindPort: 443 }
      postgres:
        host: 173.255.117.168
        database: atc
        sslmode: verify-ca
