postgresql:
  enabled: false

concourse:
  image: concourse/concourse
  imageTag: 6.5.0

  postgresql:
    enabled: false

  web:
    enabled: false

  persistence:
    worker:
      storageClass: ssd
      size: 750Gi

  worker:
    replicas: 3
    terminationGracePeriodSeconds: 3600
    livenessProbe:
      periodSeconds: 60
      failureThreshold: 10
      timeoutSeconds: 45
    nodeSelector: { cloud.google.com/gke-nodepool: ci-workers-pr }
    hardAntiAffinity: true
    env:
    - name: CONCOURSE_GARDEN_NETWORK_POOL
      value: "10.254.0.0/16"
    - name: CONCOURSE_GARDEN_MAX_CONTAINERS
      value: "500"
    - name: CONCOURSE_GARDEN_DENY_NETWORK
      value: "169.254.169.254/32"
    resources:
      limits:   { cpu: 7500m, memory: 14Gi }
      requests: { cpu: 0m,    memory: 0Gi  }

  concourse:
    worker:
      runtime: containerd
      rebalanceInterval: 2h
      baggageclaim: { driver: overlay }
      tag: "pr"
      healthcheckTimeout: 40s
      tsa:
        hosts: ['ci-web-worker-gateway.ci.svc.cluster.local:2222']
